venv
data/RAW/CBIS-DDSM/csv/*
data/RAW/CBIS-DDSM/jpeg/*
data/PROCESSED/CBIS-DDSM/BENIGN/*
data/PROCESSED/CBIS-DDSM/MALIGNANT/*
data/FINAL/CBIS-DDSM/MALIGNANT/*
data/FINAL/CBIS-DDSM/BENIGN/*
data/SPLIT/*
best_model.pth
__pycache__/